body{
    background-color: beige;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}
.main {
  margin-left: 210px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

.con{
    width: 45px;
    position: fixed;
    padding: 0px 0px 0px 0px;
    margin: 0% 0% 0% 90%;
}

.imag{
    text-align: center;
    background-color: lightgray;
    margin: 50px 50px 50px 800px;
    position: absolute;
    padding: 10px 10px 10px 10px;
    border-radius: 30px;
    
}

.bienvendio-menu{
    position: absolute;
    margin: 0px 400px 0px 0px;
}

